- f.fields_for :data_object_instances do |data_object_instance_fields|
  %fieldset
    %legend Producing Data Objects
    = data_object_instance_fields.label :name, data_object_instance_fields.object.business_process_element.name
    = data_object_instance_fields.text_field :name

