<% title "Edit Path for #{@business_process.name}" %>

<div class="push-1 span-22 last">
	<%= render :partial => 'form' %>

  <p>
    <%= link_to "Show", business_process_path_path(@business_process, @path) %> |
    <%= link_to "View All", business_process_paths_path(@business_process) %>
  </p>
</div>
