<div class="span-11 last pretty_show">
  <div class="span-5">
	  <div class="span-5 last pretty_label">
	    Type
  	</div>
	  <div class="span-5 last pretty_label">
	    Name
  	</div>
  </div>
  <div class="span-5 last">
	  <div class="span-5 last pretty_show_field">
			Functional Work Unit
  	</div>
	  <div class="span-5 last pretty_show_field">
			<%=h @functional_work_unit.name %>
  	</div>
  </div>
</div>
