<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hi <%=h @user.username %>,</h4>
    <p>
      <%=h @requester.username %> has requested for you to approve the mappings of path "<%=link_to h(@path.name), path_steps_url(@path, :host => "rws65855fwks.us.oracle.com:3002") %>".
    </p>
    <p>Thanks!</p>
    <p>BPAD</p>
  </body>
</html>

