@mixin fancy_form {
  ol, ul {
    list-style:none;
  }
  label {
    display:block;
    width:25%;
    float:left;
    padding-top:.2em;
  }
  textarea  {
    width: 300px;
    height: 100px;
  }
  select  {
    width: 300px;
  }
  .bp_override_textarea  {
    width: 300px;
    height: 50px;
  }
  .left_col {
    display:block;
    width:50%;
    float:left;
  }
  .right_col {
    display:block;
    width:50%;
    float:right;
  }
}

