<% content_for :head do %>
  <%= javascript_include_tag 'jstree/jquery.jstree.js' %>
<% end %>

<script type="text/javascript">
$(function () {
	$("#lba_tree")
		.jstree({
			"core" : {"animation" : 100,
								"initially_open" : ["root"] },
			"types" : {
				"max_depth" : -2,
				"max_children" : -2,
				"types" : {
					"feature" : {
						"valid_children" : ["none"],
						"icon" : {
							"image" : "/icons/bullet_black.png"
						}
					}
				}
			},
	    "html_data" : { data : "<li id='root' rel='root' class='jstree-closed'><a href='#'>Business Areas</a></li>",
											state: "closed",
	  	  							ajax : {
	  		  							url: "/step/<%= @step.id %>/bam_to_fam_map/lba_children.html",
	  			  						data : function (n) {
						  								   return { id : n.attr ? n.attr("id") : 0, rel: n.attr ? n.attr("rel") : "" };
							  							 }
	  						  		}
  	  },
  	"ui" : {"select_limit" : 1},
		"plugins" : [ "themes", "html_data", "types", "ui", "checkbox" ]
	});
});
</script>

<% title "Mappings for #{@step.element_name}" %>

<div class="push-1 span-22 last">
  <div class="span-10 colborder">
	  <div class="span-10">
			<input type="button" class="button" value="Map" id="add_lba" style="float:left;">
		</div>
	  <div class="span-10">
			<div id="lba_tree" style="overflow: auto;"></div>
		</div>
	</div>
  <div class="span-11 last details">
	</div>
</div>

<script type="text/javascript">
$(function () {
	$("#add_lba, #add_lbo, #add_fwu, #add_feature").click(function () {
	  $("#lba_tree").jstree("create", null, "last", { "attr" : { "rel" : this.id.toString().replace("add_", "") } });
  });
	$("#remove, #rename").click(function () {
    $("#lba_tree").jstree(this.id);
  });
});
</script>
