<% title "Edit Business Process Element" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", business_process_business_process_element_path(@business_process, @business_process_element) %> |
  <%= link_to "View All", business_process_business_process_elements_path(@business_process) %>
</p>
