<% title "Edit Logical Entity Attribute" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @logical_entity_attribute %> |
  <%= link_to "View All", logical_entity_attributes_path %>
</p>
