- title "Product Managers Mapping Todo List", false

#title
  %span
    List

.content
  %table{:class => ["pretty", "striped"]}
    %tr
      %th= "Business Process"
      %th= "Use Case"
      %th= "Iteration Development Planned"
      %th= "PM Mapping Deadline"

    -for bp in BusinessProcess.all
      -@planned_paths.each do |path, value|
        -if path.business_process_id == bp.id
          %tr
            %td=h path.business_process.name
            %td=h link_to path.name, path_steps_path(path)
            %td=h value[0].strftime("%B")
            %td=h (value[0]-4.months).end_of_month.strftime("%B")

