<li id=<%= mapped_feature.id %> ><%= mapped_feature.name||"NoName" %>
  <%= image_tag '/icons/comment.png', :alt=> mapped_feature.description, :title=> mapped_feature.description if mapped_feature.description %>
</li>
