- title "Reports", false

.content

- form_remote_tag :update => "burn_chart", :url => {:action => "updateChart"} do
	%select{:id=>"iterations", :name=>"iterations[id]"}
		- for iteration in @iterations
			%option{:id => iteration, :value => iteration}=iteration
	%div#select_project= render :partial => "select_project"
	= submit_tag 'Select'


:javascript
	document.getElementById(#{@default_iteration.to_json}).selected = true


#burn_chart= render :partial => "show_chart"




