<hr class="space" />
<div id="footer">
  <div class="container">
    <div class="span-24 last" style="text-align:right;">
    	BPAD v0.2&nbsp;&copy;&nbsp;<%= Time.new.year %>
    </div>
  </div>
</div>
